<html>
<head>
    <title>Smart Emergency Detection System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

{% block content %}
<div class="Proj-title">
<h1>Smart Emergency Detection System</h1>
</div>
<div class="comment"><h2>Please register the following information correctly</h2></div>

<div class="Register-container">
  {% if error %}
<div class="error-message">{{ error }}</div>
{% endif %}
<form method="POST">
  <label>Full Name</label>
  <input class="full_name" name="full_name" placeholder="Full Name" required><br><br>
  <label>Email</label>
  <input class="email" name="email" type="email" placeholder="Email" required><br><br>
  <label>Password</label>
  <input class="password" name="password" type="password" placeholder="Password" required><br><br>
  <label>Birthdate</label>
  <input class="age" name="age" type="date" required><br><br>
  <label>Diseases</label>
  <select class="diseases" name="diseases" id="diseases-select">
    <option value="">None</option>
    <option value="Diabetes">Diabetes</option>
    <option value="Hypertension">Hypertension</option>
    <option value="Heart Disease">Heart Disease</option>
    <option value="Asthma">Asthma</option>
    <option value="Allergy">Allergy</option>
    <option value="Cancer">Cancer</option>
    <option value="Other">Other</option>
  </select>
  <input type="text" name="diseases_other" id="diseases-other" class="diseases_other" placeholder="Please specify" style="display:none;" >
  <label>Number of Residents</label>
  <input class= "number_of_residents" name="number_of_residents" type="number" placeholder="Number of Residents" required><br><br>
  <label>Location</label>
  <input class="location" name="location" placeholder="Location" required><br><br>

  <button class="sub-btn"type="submit">Create Account</button>

  <script>
const select = document.getElementById("diseases-select");
const otherInput = document.getElementById("diseases-other");

select.addEventListener("change", function() {
    if (this.value === "Other") {
        otherInput.style.display = "block";
        otherInput.required = true;  // only required if "Other" is selected
    } else {
        otherInput.style.display = "none";
        otherInput.required = false; // remove required otherwise
        otherInput.value = "";
    }
});
</script>
</form>
<div class="login-comment">
<p><a href="{{ url_for('login') }}">Already have an account? Login</a></p>
{% endblock %}</div>
</div>